In [1]:
import pandas as pd

In [2]:
df1 = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})


df2 = pd.DataFrame({
    'A': [7, 8, 9],
    'B': [10, 11, 12]
})

In [3]:
df1

   A  B
0  1  4
1  2  5
2  3  6

In [4]:
df2

   A   B
0  7  10
1  8  11
2  9  12

In [5]:
# Concatenating along rows (axis=0)
result_rows = pd.concat([df1, df2])

In [6]:
result_rows

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12

In [7]:
result_rows = pd.concat([df1, df2], ignore_index=True)

In [8]:
result_rows

   A   B
0  1   4
1  2   5
2  3   6
3  7  10
4  8  11
5  9  12

In [9]:
result_columns = pd.concat([df1, df2], axis=1)

In [10]:
result_columns

   A  B  A   B
0  1  4  7  10
1  2  5  8  11
2  3  6  9  12